body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: cursive;
  background-color: #ededf9;
}

.testimonial-container {
  width: 500px;
  height: 100px;
  background-color: black;
  border: solid #ed9612 2px;
  -webkit-box-shadow: 4px -4px 5px 0px rgba(240,151,0,1);
  -moz-box-shadow: 4px -4px 5px 0px rgba(240,151,0,1);
  box-shadow: 4px -4px 5px 0px rgba(240,151,0,1);
  border-radius: 10px;
  min-width: 400px;
  padding: 70px 20px;
  margin: 5px;
  color: #ffffff;
  position: relative;
}

img {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(237,150,18,1);
  -moz-box-shadow: 4px 4px 5px 0px rgba(237,150,18,1);
  box-shadow: 4px 4px 5px 0px rgba(237,150,18,1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
}

.username {
  font-size: 13px;
  font-weight: 100;
}
